
.appoint{
    position: absolute;
    top: 9.5rem;
    width: 90%;
    left: 5%;
}
.appoint h1{
    font-size: 4.3rem;
}
form{
    margin-top: 1rem;
    
    overflow: hidden;
    border-radius: 1rem;
    
}
form h2{
    padding-top: 1rem;
    font-size: 3.2rem;
    color: brown;
    padding-bottom: .5rem;
    padding-left: .5rem;
}

#fname,#lname,#age,#contact{
    padding-left: 1rem;
    width: 30rem;
    height: 4rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    margin-left: .5rem;
}
label{
    font-size: 2rem;
    padding-left: .5rem;
}
#gender {
    width: 2.2rem;
}
input[type=radio] {
    transform: scale(1.5);
}


#submit{
    border-radius: 1rem ;
    margin-bottom: 1rem;
    margin-top: 1.6rem;
    margin-left: .6rem;
    height: 4rem;
    width: 12rem;
    background: transparent;
    background-color: rgba(255, 255, 255, 0.534);
    color: black;
    font-size: 2rem;
    transition: .5s;
    cursor: pointer;
}

#submit:hover {
    margin-left: 1.1rem;
    transform: scale(1.1);
    color: white;
    background-color: rgba(0, 0, 0, 0.664);
}


.doc{
    position: absolute;
    top: 14rem;
    left: 50%;
    display: none;
}
.doc img{
    box-shadow: 0rem .3rem 5rem .2rem rgba(58, 58, 58, 0.499);
    height: 30rem;
    width: 30rem;
    border-radius: 2rem;
}


.footer{
    margin-top: 0rem;
}