*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
.navbar{
    height: 70px;
    width: 100%;
    position: fixed;
    background: transparent;
    background-color: rgba(0, 0, 0, .4);
    z-index: 100;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 4%;
    padding-top: 0px;
}
.logo{
    font-size: 55px;
    color: crimson;
    font-weight: bold;
}
span{
    text-shadow: none;
    font-size: 45px;
    color: white;
}
.navelem{
    margin-top: 15px;
    font-size: 28px;
    width: 40%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.navelem a{
    
    text-decoration: none;
    color:  white;
}
.navelem a:hover{
    border-bottom: 1px solid crimson;
    color: crimson;
    transition: .3s;
}

.front{
    background: url(image/BG.jpg);
    width: 100%;
    height: 830px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
    align-items: left;
    background-attachment: fixed;
}
.box{
    padding-top: 50px;
    margin-top: 200px;
    margin-left: 60px;
    position: relative;
    width: 450px;
    height: 500px;
    background: transparent;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 20px;
    text-align: center;
    font-size: 40px;
}
.box h1,h2{
    margin-top: 20px;
    color: white;
}
.butt{
    margin-top: 30px;
}
.butt1{
    border: none;
    background-color:  rgb(166, 15, 45);
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    width: 250px;
    height: 60px;
    font-size: 25px;
    border-radius: 8px;
}
.butt1:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.60), 0 17px 50px 0 rgba(0,0,0,0.30);
    background-color: #7db7bd;
    transition: .2s;
    color: black;
}



/* ABOUT MAIN BODY */

.main{  
    box-shadow: 0 0px 16px 16px rgba(0,0,0,0.6);
    background-image: url(image/galaxy.png);
    background-size: 100% 100%;
    width: 100%;
    height: 829px;   
}
.content{

    display: flex;
    
}
.bibname{
    box-shadow: 0 0px 8px 5px rgba(220, 20, 60, 0.4);
    border-radius: 8px;
    margin-top: 120px;
    margin-left: 60px;
    height: 400px;
    width: 400px;
    position: relative;
    overflow: hidden;
}
.name{
    font-size: 35px;
    text-align: center;
    height: 80px;
    width: 400px;
    position: absolute;
    bottom: 0;
    padding-top: 35px;
    background: rgb(48,45,45);
    background: linear-gradient(0deg, rgba(48,45,45,1) 0%, rgba(112,97,97,0.6419817927170868) 50%, rgba(142,132,132,0.6279761904761905) 70%, rgba(255,255,255,0) 100%);
    z-index: 90;
    display: none;
    
}
.bibname:hover .name{
    display: block;
}
.bibname:hover img{
    
    transform: scale(1.2);
}  

.aboutclinic{
    margin-top: 180px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
}
.aboutclinic h1{
    color: crimson;
    font-size: 50px;
}
.aboutclinic pre{
    font-size: 30px;
}
.aboutclinic pre a{
    color: rgb(74, 74, 173);
    border-bottom: none;
}
.aboutclinic pre a:hover{
    color: crimson;
}
.quote{
    margin-top: 50px;
    margin-left: 60px;
    font-size: 30px;
}
.quote span{
    color: crimson;
}

/* SERVICES */
.main2{
    box-shadow: 0px 2px 20px 1px rgba(0,0,0,0.75) inset;
    position: relative;
    width: 100%;
    height: 829px;
    background: rgb(205,92,92);
    background: linear-gradient(8deg, rgba(205,92,92,1) 0%, rgba(217,118,88,1) 38%, rgba(240,167,79,1) 67%, rgba(246,182,45,1) 100%);
    display: flex;
}
.serv{
    font-size: 45px;
    margin-top: 200px;
    margin-left: 60px;
}
.serv pre{
    font-size: 30px;
    color: whitesmoke;
}
.photo{
    
    height: 620px;
    width: 950px;
    background: transparent;
    background-color: rgba(0, 0, 0, .4);
    margin-top: 160px;
    margin-left: 130px;
    border-radius: 20px;
}
.display{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: space-evenly;
    
}
.abc{
    width: 280px;
    height: 280px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 8px 3px rgba(0,0,0,0.71);
    border-radius: 11px;
}
.abc div{
    
    width: 280px;
    height: 280px;
    position: relative;
    overflow: hidden;
}
.abc div h1{
    background: rgb(48,45,45);
    background: linear-gradient(0deg, rgba(48,45,45,1) 0%, rgba(112,97,97,0.6419817927170868) 26%, rgba(142,132,132,0.6279761904761905) 50%, rgba(255,255,255,0) 76%);
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 30px;
    bottom: 0;
    padding-top: 75%;
    text-align: center;
    border-radius: 11px;
    color: black;
    transition-duration: 0.4s;
    
}
.abc div h1:hover {
    padding-top: 65%;
    font-size: 40px;
}



/* CONTACT US */
.contactus{
    width: 100%;
    height: 600px;
    background-color: rgb(150, 172, 211);
    
}
.contactdisplay{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.maps{
    border-radius: 10px;
    box-shadow: 1px 0px 11px 2px rgba(0,0,0,0.47);
    border-radius: 10px;
    margin-top: 50px;
    width: 400px;
    height: 500px;
    
}
.appoint{
    border-radius: 10px;
    box-shadow: 1px 0px 11px 2px rgba(0,0,0,0.47);
    margin-top: 50px;
    width: 400px;
    height: 500px;
    background-color: rgb(176, 216, 216);
}

.appoint h1{
    padding-top: 10px;
    padding-left: 10px;
}
.appoint h2{
    
    margin-top: 17px;
}
.app{

    margin-left: 20px;
}
form input{
    margin-top: 8px;
}
#fname,#lname,#age,#contact{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    font-size: 17px;
    padding-left: 20px;
}
#submit{
    margin-left: 8px;
    border-radius: 7px;
    font-size: 17px;
    width: 200px;
    height: 30px;
    background-color: rgb(150, 172, 211);
}
#submit:hover {
    background-color: whitesmoke;
}

.phone{
    border-radius: 10px;
    box-shadow: 1px 0px 11px 2px rgba(0,0,0,0.47);
    margin-top: 50px;
    width: 400px;
    height: 500px;
    background-color: rgb(176, 216, 216);
}

.namelogo{
    background: transparent;
    background-color: rgba(0, 0, 0, .2);
    margin-left: 5px;
    margin-top: 8px;
    margin-right: 5px;
    border-radius: 10px;
    text-align: center;
    display: flex;
}
.namelogo h2{
    margin-left: 5px;
    margin-top: 28px;
    color: black;
}
.call{
    display: flex;
    margin-top: 20px;
    margin-left: 15px;
}
.call h1{
    margin-top: 30px;
    margin-left: 15px;
    font-size: 30px;
    font-weight: lighter;
}
.socials{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.socials h2{
    font-size: 35px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-instagram {
    background: #d74343;
    color: white;
}  
.fa-tumblr {
    background: #10161d;
    color: white;
}

@media screen and (max-width: 900px){
    /* NAVBAR */
    .logo{
        display: none;
    }
    .navelem{
        width: 100%;
        margin-top: 10px;
    }
    .navbar{
        height: 50px;
    }

    /* ABOUT US */
    .main{
        display: flex;
        flex-direction: column;
    }
    .bibname{
        display: none;
    }
    .aboutclinic h1{
        font-size: 40px;
        margin-top: 10px;
    }
    .aboutclinic pre{
        font-size: 25px;
    }
    .quote{
        margin-left: 5px;
        font-size: 20px;
    }
    .quote span{
        font-size: 22px;
    }



    /* SERVICE */
    .main2{
        display: flex;
        flex-direction: column;
        height: 1150px;
        
    }
    .serv{
        
        font-size: 20px;
        margin-top: 40px;
    }
    .serv pre{
        font-size: 15px;
    }
    .photo{
        height: 1000px;
        width: 95%;
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 30px;
        margin-bottom: 20px;
    }
    

    /* CONTACT US */
    .contactus{
        height: 1100px;
    }
    .maps{
        width: 700px;
        margin-top: 30px;
        margin-left: 0;
    }
    .maps iframe{
        width: 700px;
    }
}