/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section{
  background-color: white;
  background-image: none;
  
}

.main{
  
  position: relative;
  top: -100vh;
  margin-top: 6rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: 'Quicksand', serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  width: 100%;
  background: transparent;
  background-color:  rgba(176, 233, 239, 0.534); 

}
.cards-content{
  margin-left: 10%;
  width: 80%;
}


.cards-content h1{
    border-radius: 1rem;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background: transparent;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 1rem;
    text-align: center;
    font-size: 3rem;
}


img {
  height: 100%;
  width: 100%;
}

.card_image{
  height: 20rem;
}

.btnx {
  color: #000000;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(131, 131, 131, 0.2);
  background: transparent;
}

.btnx:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 2rem;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
  
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
  
}

.card {
     border-radius: 1rem;
  background-color: white;
  border-radius: .5rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: rgb(92,201,205);
  background: linear-gradient(22deg, rgba(92,201,205,1) 0%, rgba(94,229,250,1) 38%, rgba(161,231,248,1) 67%, rgba(218,248,246,0) 100%);
}

.card_title {
  color: #000000;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}


.footer{
    
    position: absolute;
    /* bottom: 0px; */
    padding-bottom: 2rem;
}